#tplUrlList .thumbnailQR {
    background-color: #ffffff;
    padding: 4px;
}
#tplUrlList .wcfImageViewer img {
    background-color: #ffffff;
    padding: 30px;
}
#tplUrlList .columnQR {
    text-align: center;
    display: none;
}
